<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据资产变化</title>
    <!-- 引入 echarts.js 这里使用flask的url_for-->
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="digital_property_amount" style="width: 1600px;height:900px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('digital_property_amount'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '2020年 浙江师范大学附属中学 数据资产变化（MB）',
            top: "10%"
        },
        grid: {
            top: 100
        },
        tooltip: {},
        legend: {
            data: ['2020.08.24', '2020.10.12', '2020.10.19', '2020.11.30'],
            bottom: 0
        },
        xAxis: {
            data: ["总量", "教学", "学习", "管理", "考试", "平台", "研训", "评价"]
        },
        yAxis: {},
        series: [
            {
                name: '2020.08.24',
                type: 'line',
                data: [10.84, 10.84, 10.84, 10.84, 10.84, 10.84, 0, 0],
                label: {
                    show: true,
                    position: 'top'
                },
            },
            {
                name: '2020.10.12',
                type: 'line',
                data: [417.11, 390, 390, 390, 417.11, 390, 370, 370]
            }
            ,
            {
                name: '2020.10.19',
                type: 'line',
                data: [5263.36, 390, 390, 390, 417.11, 400, 380, 380]
            }
            ,
            {
                name: '2020.11.30',
                type: 'line',
                data: [17612.8, 650, 450, 400, 1024, 410, 400, 400]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
{#<div id="digital_property_structure" style="width: 600px;height:400px;"></div>#}
{#<script type="text/javascript">#}
{#    // 基于准备好的dom，初始化echarts实例#}
{#    var myChart = echarts.init(document.getElementById('digital_property_structure'));#}
{##}
{#    // 指定图表的配置项和数据#}
{#    var option = {#}
{#        title: {#}
{#            text: 'ECharts 入门示例'#}
{#        },#}
{#        tooltip: {},#}
{#        legend: {#}
{#            data: ['销量']#}
{#        },#}
{#        xAxis: {#}
{#            data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]#}
{#        },#}
{#        yAxis: {},#}
{#        series: [{#}
{#            name: '销量',#}
{#            type: 'bar',#}
{#            data: [5, 20, 36, 10, 10, 20]#}
{#        }]#}
{#    };#}
{##}
{#    // 使用刚指定的配置项和数据显示图表。#}
{#    myChart.setOption(option);#}
{#</script>#}
</body>
</html>